/* Write your code here */
.list-container {
  list-style-type: none;
  display: flex;
}
.icon {
  height: 40px;
  width: 40px;
}
.button {
  border: 0px;
  background: transparent;
}
.carousel {
  display: flex;
  text-align: center;
  align-items: flex-start;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
